<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
<form action="/RegisterationPost" method="POST">
<input type ="text" id="Box" placeholder="Firstname" name = "firstname" required/><br />
<input type ="text" id="Box" placeholder="Lastname" name = "lastname" required/><br />
<input type ="text" id="Box" placeholder="Email ID" name = "email" required/><br />
<input type ="password" id="Box" placeholder="Password" name = "password" required/><br />
<button type="submit" id="submit">Register</button><br/>
</form>
<p>Already have an account?</p>
<form action="/login" method="GET">
<button type="submit" id="submit">Login</button>
</form>
</body>
</html>